<div class="container">
  <div class="box-left">
    <div class="logo-topo">
      <img src="../assets/images/Instagram_logo.svg.png" alt="logo-intagram" />
    </div>
    <div class="menu-card">
      <div class="btn-1"><p>Pagina Inicial</p></div>
      <div class="btn-1"><p>Pesquisa</p></div>
      <div class="btn-1"><p>Explorar</p></div>
      <div class="btn-1"><p>Reels</p></div>
      <div class="btn-1"><p>Mensagens</p></div>
      <div class="btn-1"><p>Notificações</p></div>
      <div class="btn-1"><p>Criar</p></div>
      <div class="btn-1"><P>Perfil</P></div>
    </div>
  </div>
  <div class="box-right"></div>
</div>
